option_settings:
  aws:elb:listener:443:
    InstancePort: '80'
    SSLCertificateId: arn:aws:acm:us-west-2:111122223333:certificate/1a11bb1b-1a11-111a-222b-b0a000b0c0bb
    ListenerProtocol: SSL
    InstanceProtocol: TCP
  aws:elb:loadbalancer:
    CrossZone: true
    LoadBalancerPortProtocol: TCP
    ManagedSecurityGroup: sg-xxxxxxxx
    SecurityGroups: sg-xxxxxxxx
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: classic
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:ec2:vpc:
    Subnets: subnet-aaaaaaaa,subnet-bbbbbbbb,subnet-cccccccc
    VPCId: vpc-55555555
    ELBSubnets: subnet-aaaaaaaa,subnet-bbbbbbbb,subnet-cccccccc
    ELBScheme: public
    AssociatePublicIpAddress: true
  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-yyyyyyyy,sg-zzzzzzzz
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2.small
    EC2KeyName: my-ssh-key
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateType: Health
    RollingUpdateEnabled: true
